@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" ng-app="soundTrackrApp">
<head>
    <meta charset=utf-8 />
    <title></title>
    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.8/mapbox.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.8/mapbox.css' rel='stylesheet' />
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        .map {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>
<body>
    <div id='map-four' class='map'> </div>
    <script>
        L.mapbox.accessToken = 'pk.eyJ1IjoibWprbm93bGVzMjMiLCJhIjoiQWJIb1d6NCJ9.3JZ_m3xjtutwqIMwSa-UXQ';

        var map = L.mapbox.map('map-four', 'mapbox.streets', {
            scrollWheelZoom: false
        }).setView([38.8929, -77.0252], 14);

        var myLayer = L.mapbox.featureLayer().addTo(map);
        myLayer.setGeoJSON(geojson);
    </script>
</body>
</html>