@model SoundTrackr.Web.Models.ViewModels.TracksViewModel

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" ng-app="SoundTrackrApp">
<head>
    <meta charset=utf-8 />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    @Scripts.Render("~/bundles/modernizr")
    <!-- http://cloudspace.com/blog/2014/03/27/backend-less-development-with-angular/#.VVLMHflVikp -->
    @Scripts.Render("~/bundles/angular")
    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.8/mapbox.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.8/mapbox.css' rel='stylesheet' />
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="container main-content-container" ng-controller="TracksCtrl">
        <div class="row main-content-row">
            <div class="col-md-4">
                <div class="list-group">
                    <a href="#" class="list-group-item" ng-repeat="track in trackNames" ng-click="getTrack(track.Id)">
                        {{track.Name}}
                    </a>
                </div>
            </div>
            <div class="col-md-8 map-col">
                .colmd8
                <div id='map-four' class='map'> </div>
            </div>
        </div>
    </div>
    <script>
        soundTrackrApp.value('UserTrackNames', @Html.Raw(Json.Encode(Model.TrackNames)))
   </script>
  </body>
</html>